body{
    background-color: rgb(19, 233, 233);
}

.encabezado{
background-color: rgb(233, 19, 19);
color:whitesmoke;
font-family: "Satisfy", cursive;
font-size: 40px;
text-align: center;


padding: 20px;
box-shadow: 10px 7px 10px gray;
margin: 10px;
gap: flex;
}

.barraOps{
    background-color: rgb(233, 73, 19);

padding: 10px;
box-shadow: 10px 7px 10px gray;
margin: 10px;
}

.opciones{
    background-color: rgb(233, 73, 19);
    color:whitesmoke;
    font-family: "Satisfy", cursive;
    font-size: 15px;
    text-align: left;
    
}
.barraBus{
    background-color: rgb(233, 73, 19);

    padding: 10px;
    box-shadow: 10px 7px 10px gray;
    margin: 10px;
    height: 5px;
    width: 5px;
    
    padding-block-end: 400px;

}
